html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.MuiFormLabel-root {
    background: white;
    font-family:  "DecimaMonoPro" !important;
    margin-left: 0 !important;
}

.MuiFormControl-root {
    margin-left: 0;
}

.MuiTableCell-root {
    font-family:  "DecimaMonoPro" !important;
}

@font-face {
    font-family: 'AtlasGrotesk-Black';
    src: local('AtlasGrotesk-Black'), url(../fonts/AtlasGrotesk-Black.otf) format('opentype');
}


@font-face {
    font-family: 'AtlasGrotesk-Regular';
    src: local('AtlasGrotesk-Regular'), url(../fonts/AtlasGrotesk-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'AtlasGrotesk-Medium';
    src: local('AtlasGrotesk-Medium'), url(../fonts/AtlasGrotesk-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'DecimaMonoPro';
    src: local('DecimaMonoPro'), url(../fonts/DecimaMonoPro.otf) format('opentype');
}

@font-face {
    font-family: 'Lobster';
    src: local('Lobster'), url(../fonts/Lobster-Regular.ttf) format('truetype');
}