body {
    font-family: "AtlasGrotesk-Medium", "DecimaMonoPro" !important;
}

.MuiFormLabel-root {
    background: white;
    font-family:  "DecimaMonoPro" !important;
}

.MuiTableCell-root {
    font-family:  "DecimaMonoPro" !important;
}

@font-face {
    font-family: 'AtlasGrotesk-Black';
    src: local('AtlasGrotesk-Black'), url(../fonts/AtlasGrotesk-Black.otf) format('opentype');
}


@font-face {
    font-family: 'AtlasGrotesk-Regular';
    src: local('AtlasGrotesk-Regular'), url(../fonts/AtlasGrotesk-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'AtlasGrotesk-Medium';
    src: local('AtlasGrotesk-Medium'), url(../fonts/AtlasGrotesk-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'DecimaMonoPro';
    src: local('DecimaMonoPro'), url(../fonts/DecimaMonoPro.otf) format('opentype');
}
