.homePage {
    font-family: adobe-garamond-pro;
}

.navbar {
    margin: 1rem 10rem 5rem 0rem;
    display: flex;
    justify-content: right;
}

.navLink {
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 2rem;
    color: #222b81;
    font-size: 0.8rem;
}

.navbarLeft {

}

.navbarMiddle {

}

.navbarRight {

}

.homepageBanner {
    text-align: center;
}

.homepageBannerInner {
    display: inline-flex;
}

.homepageBannerTextContainer {
    margin-bottom: 7rem;
}

.bannerTextSmall {
    font-size: 1.4rem;
}

.bigHeader {
    color: #190e8e;
    font-size: 4rem;
    font-family: AtlasGrotesk-Medium
}

.smallHeader {
    color: #fe766a;
    text-align: center;
    font-family: AtlasGrotesk-Medium
}

.colorAlternate {
    color: #fe766a;
}

.profileHeader {
    text-align: center;
    white-space: pre-wrap;
    font-weight: bold;
    color: #190e8e;
}

.profileSubheader {
    text-align: center;
}

.homepageHeader {
    margin-bottom: 0;
}

.workSample {
    margin-top: 3rem;
}

.workSampleLink {
    text-align: center;
}

.aboutMe {
    margin: 6rem 2rem;
}

.profilePicture {
    border-radius: 50%;
}

.profileText {
    margin: 1rem 0;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    width: 25rem;
    padding: 0 2rem;
}

.skills {
    margin: 7rem 0;
    text-align: center;
}

.skill {
    margin: 0 1rem;
}