
/*Main*/
.marchMadness {
  padding: 0 2rem;
  font-family: AtlasGrotesk-Medium, "Helvetica Neue", Helvetica;
}

/*Header*/

.marchMadnessHeaderContainer {
  margin-top: 5rem;
}

.marchMadnessHeader {
  text-align: center;
  font-family: AtlasGrotesk-Medium;
  font-size: 2em;
}

.marchMadnessSubheader {
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 1.6em;
  margin-bottom: 0.5rem;
}
.descriptionContainer {
  margin-bottom: 0.5rem;
}

.marchMadnessDescription {
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 1.2rem;
  font-style: italic;
}

.boldHeader {
  font-weight: bold;
  font-family: "Helvetica Neue";
}

/*Filters*/

.filters {
  margin-top: 2rem;
}

.filtersInner {
  display: flex;
  border-bottom: 1px solid black;
}

.filtersHeader {
  font-size: 1.2rem
}

/*Dashboard*/

.dashboardContent {
  text-align: center;
  margin: 3rem 0;
}

.winPct {
  z-index: 1;
  font-size: 3rem;
  line-height: 6rem;
  width: 300px;
  border: 2px solid lightgrey;
}

.winPctFill {
  height: 6rem;
  position: absolute;
  margin: 0;
  padding: 0;
}

.winPctContainer {
  display: inline-flex;
  width: 300px;
  margin: 0;
  padding: 0;
}

.mobileWinPctContainer {
  display: inline-flex;
  margin-top: 2rem;
}

.vs {
  font-size: 1.6rem;
  height: 6rem;
  line-height: 6rem;
  vertical-align: top;
}

.teamLogoLarge {
  vertical-align: baseline;
  margin: 0 1.5rem;
}


/*Team Autocomplete*/
.teamAutocomplete {
  margin: 1rem 1rem 0 0;
}

/*Score Table*/
.scoreTables {
  display: inline-flex;
}

.scoreTable {
  margin: 1rem 0;
}

.grade {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.good {
  color: #4CAF50;
  font-weight: bold;
}

.bad {
  color: #E57373;
  font-weight: bold;
}

.neutral {
  font-size: 1rem;
}

.teamLogo {
  margin-right: 1rem;
}

